.content {
	border: 1px solid black;	
	width: 100%;
	margin: 10px;
	height: 80vh;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.card {
	border: 1px solid olivedrab;
	height: 6rem;
	margin: 1rem;
}

.card-add {
	border: 1px solid olivedrab;
	height: 50%;
	margin: 10px;
}

label {
	display: block;
}


.grid {
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: repeat(7, 1fr);
	grid-template-areas: 
	". top top top top top ."
	". mid mid mid mid mid ."
	". bot bot bot bot bot .";
}

.header {
	grid-area: top;
}

.main {
	grid-area: mid;
}

.footer {
	grid-area: bot;
}